<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ESTOY AQUI</h1>
 <!--    <form action="">
        <select name="categoria">
            <% for (i=0;i<categorias.length; i++) { %> 
                <option value="<%= categorias[i].id %> ">
                    <%= categorias[i].nombre %> 
             </option>
            <% } %>
    </form> -->
</body>
</html>