<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs")%> 
<body>
    <%- include ("../partials/header.ejs") %> 
    <h1>Estoy aqui, crear y editar productos</h1>
</body>
<%- include ("../partials/footer.ejs") %> 


</html>