<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patagonia Travel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bellefair&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet" > 
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <section class="menuprincipal">
            <nav><a  href=""><i id="menu1" class="fas fa-ellipsis-v"></i></a></nav>
            <picture class="logo">PATAGONIA TRAVEL<img src="" alt=""></picture> 
        <form action=""><fieldset class="navbar"><input type="search" placeholder="Buscar" name="Barra"><i class="fas fa-search"></i></fieldset></form>
        <nav class="listaprimaria">
            <ul >
            <li><a href="">Crear cuenta</a></li>
            <li><a href="">Iniciar Sesión</a></li>
            <li><a href="">Mis compras</a></li>
        </ul></nav></section>
    <section ><nav class="listasecundaria">
        <ul >
            <li><a href="">Lugares</a></li>
            <li><a href="">Hospedajes</a></li>
            <li><a href="">Excursiones</a></li>
            <li><a href="">Gastronomía</a></li>
            <li><a href="">Eventos</a></li>
        </ul></nav></section>
    </header>
    <main>
        <picture><img class="imagenhome" src="image/patagonia.jpg" alt=""></picture>
       <section class="busquedaviaje"><h3 class="tituloSeccion">Tu viaje increíble</h3>
        <form class= "menufechas" action="">
            <fieldset><label class="origen" for="origen">Origen</label>
            <input type="text" placeholder="Ingresa 3 letras" name= "origen" required></fieldset>
        <fieldset><label class="destino" for="destino">Destino</label>
            <input type="text" placeholder="Ingresa 3 letras" name="destino" required></fieldset>
        <fieldset> <label class="ida" for="ida">Ida</label>
            <input type="date" name="ida"></fieldset>
        <fieldset> <label class="vuelta" for="vuelta">Vuelta</label>
            <input type="date" name="vuelta"></fieldset>
            <fieldset class="button"><button class="irviaje"><input type="text" name="Ir">Buscar</button></fieldset>
        </section>

       </form>
       <h3 class="tituloSeccion">Ciudades Imperdibles</h3>
       <section class="ciudades">
    <article class="bariloche"><nav> <a href="">
    <picture><img src="image/bariloche.jpg" alt=""></picture><h4>San Carlos de Bariloche</h4>
<p class="txt">Conocida por su estilo alpino de Suiza y su chocolate. Disfrutá del excursionismo y el esquí en las montañas cercanas. Explorá los alrededores del Distrito de los Lagos</p>
</a></nav> </article>
<article><a href="">
        <picture><img src="image/usuahia.jpg" alt=""></picture><h4>Usuahia</h4>
    <p class="txt">Se ubica en el archipiélago de Tierra del Fuego, apodada el "Fin del Mundo". Esta ciudad con mucho viento, conocida como la "Isla Pingüino" por sus colonias de esta especie</p></a></article>
    
    <article> <a href=""> <picture><img src="image/elcalafate.jpg" alt=""></picture>
        <H4>El Calafate</H4>
        <p class="txt">Ubicada en Santa Cruz. Es conocida principalmente como el acceso al Parque Nacional Los Glaciares, hogar del enorme glaciar Perito Moreno, cuyo dinámico paisaje de hielo es popular para el excursionismo y el turismo.</p></a></article>
   
        <article> <a href=""> <picture><img src="image/puertomadrin.jpg" alt=""></picture><h4>Puerto Madrin</h4>
    <p class="txt">Sus playas de arena y su paseo costero repleto de restaurantes miran hacia la bahía del Golfo Nuevo, en donde se avistan las ballenas francas australes </p> </a></article>
    </section>
    <h3 class="tituloSeccion">Excursiones</h3>
       <section class="excursiones">
       <article><a href=""><picture></picture><h4>Excursion 1</h4><p></p></a></article>
       <article><a href=""><picture></picture><h4>Excursion 2</h4><p></p></a></article>
       <article><a href=""><picture></picture><h4>Excursion 3</h4><p></p></a></article>
       <article><a href=""><picture></picture><h4>Excursion 4</h4><p></p></a></article>
    </main>
    <footer>

    </footer>
    
</body>
</html>