<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Bellefair&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet" > 
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header>
        <section class="menuprincipal">
            <nav><a  href=""><i id="menu1" class="fas fa-ellipsis-v"></i></a></nav>
            <picture class="logo"><a href="/"><img src="image/logo.png" alt=""></a></picture>
        <form action=""><fieldset class="navbar"><input type="search" placeholder="Buscar" name="Barra"><i class="fas fa-search"></i></fieldset></form>
        <nav class="listaprimaria">
            <ul >
            <li><a href="register.html">Crear cuenta</a></li>
            <li><a href="login.html">Iniciar Sesión</a></li>
            <li><a href="productCar.html">Mis compras</a></li>
        </ul></nav></section>
    <section ><nav class="listasecundaria">
        <ul >
            <li><a href="">Lugares</a></li>
            <li><a href="">Hospedajes</a></li>
            <li><a href="">Excursiones</a></li>
            <li><a href="">Gastronomía</a></li>
            <li><a href="">Eventos</a></li>
        </ul></nav></section>
    </header>

<main>


   
<section>

    <h1 class="tituloSeccion">San Carlos de Bariloche</h1>

<div class= flexAB>  

<div class= flexA>
<img src= "../image/bariloche.jpg" class="bariloche">
</div>

<div class=flexB>
    
<p class="pBariloche">
    Bariloche es la ciudad más poblada de la provincia de Río Negro.

Es el destino más visitado de la Patagonia y uno de los destinos más visitados de la Argentina. Recibe alrededor de dos millones de turistas anualmente.

</p>

</div>

</div>
</section>

<section class= "flexHospedajeA">
    <div class= "flexListaContenedor">
      
        <ul class="flexLista">
            <h3>Cabañas Nahuelito</h3>
            <h4>Servicios del hospedaje</h4>
            <li>Cabañas para 2 y 4 personas<i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i></li>
            <li>Estacionamiento privado<i class="fas fa-bus"></i></li>
            <li>Aire condicionado y calefacción<i class="fas fa-thermometer-empty"></i></li>
            <li>Wifi y Tv Smart<i class="fas fa-wifi"></i><i class="fas fa-tv"></i></li>
            <li>Pet Friendly <i class="fas fa-dog"></i></li>
            <a href="productCar.html"><button class="visitar"><input type="text" name="visitar">Reservar</button></a>
        </ul>
    </div>

    <div class= flexCabanaContenedor>
        <picture><img src="../image/hospedaje/cabanas.jpg" class= "flexCabana"></picture>
    </div>
</section>

<section class= "flexHospedajeA">
    <div class= "flexListaContenedor">
      
        <ul class="flexLista">
            <h3>Bariloche Ski Hotel </h3>
            <h4>Servicios del hospedaje</h4>
            <li>Habitaciones para 2-3 personas<i class="fas fa-male"></i><i class="fas fa-male"></i><i class="fas fa-male"></i></li>
            <li>Climatización central<i class="fas fa-thermometer-empty"></i></li>
            <li>Wifi y Cable<i class="fas fa-wifi"></i><i class="fas fa-tv"></i></li>
            <li>Restaurante<i class="fas fa-utensils"></i></li>
            <li>Alquiler de equipos de Ski<i class="fas fa-skiing-nordic"></i></li>
            <li>Traslados al aeropuerto y terminal<i class="fas fa-bus"></i></li>
            <a href="productCar.html"><button class="visitar"><input type="text" name="visitar">Reservar</button></a>
            </li>
        </ul>
    </div>

    <div class= flexCabanaContenedor>
        <picture><img src="../image/hospedaje/hotel.jpg" class= "flexCabana"></picture>
    </div>
</section>

<h2>Un lugar mágico</h2>
<section class="seccionTurismo">
    

    <div class="flexTurismo">
        <picture><img src="../image/turismo/lagos.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/chocolateria.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/ciclismo.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/ski.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/trekking.jpg" class="imagenTurismo"></picture>
        <picture><img src="../image/turismo/cerveza.jpg" class="imagenTurismo"></picture>
    </div>
</section>







</main>




    
<footer>
    <span><h4>PAGÁ COMO QUIERAS</h4> <picture><img src="image/bannertarjetas.png" alt=""></picture></span>
    <section>
        <span><h5>Seguinos en </h5><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i></span>
     <picture class="logofooter"><img src="image/logo.png" alt=""></picture> </section>
    <article>
     <p>2020-2021. PatagoniaTravels S.R.L. Todos los derechos reservados. - Evt: PatagoniaTravels.com - Legajo: 8362 - Disp: 1350/93 - Cuit Nº 30-65951462-8. 4 lugares disponibles por producto. Vigencia desde el 14/12/2021 al 16/12/2021 LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales</p></article>
 
 </footer>
</body>
</html>