*{font-family: 'Bad Script', cursive;
    font-family: 'Bellefair', serif;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;}
    

.bariloche{
 width: 200px;
 max-height: 250px;
 border-radius: 10px;
}

.flexAB{
display: flex;
flex-wrap: nowrap;
margin: 0%;
border: 5px solid #8EA3BF ;
border-radius: 20px;
margin-bottom: 5%;
}

.flexA{
display: flex;
flex-wrap: nowrap;
display: flex;
}

.flexB{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pBariloche{
    font-size: 11px;
}

.tituloSeccion{
    font-size: 30px;
    padding-left: 10px;
    color: #283959;
    padding-top: 30px;
    margin-bottom: 2%;
}

.seccionTurismo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flexTurismo{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    width: 50%;
border: 5px solid #8EA3BF ;
border-radius: 10px;
margin-bottom: 2%;
justify-content: center;
}

.imagenTurismo{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

main section ul {
    font-size: 12px;
}

.flexHospedajeA{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-image: url("../image/hospedaje/nieveB.jpg");
}

.flexListaContenedor{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.flexLista{
    display: flex;
    flex-direction: column;
    list-style: circle;
    justify-content: center;
}

.flexCabanaContenedor{
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexCabana{
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
}


h2{
    font-size: 25px;
    padding-left: 10px;
    color: #283959;
    padding-top: 30px;
    margin-bottom: 2%;
    text-align: center;
}

h3{
    margin: 4%;
    margin-bottom: 8%;
    font-size: 20px;
    text-align: center;
    color: #283959;
    background-color: rgb(221, 221, 221);
    border: 2px solid #283959;
    border-radius: 15px;
}

h4{
    margin: 2%;
    margin-bottom: 6%;
    font-size: 16px;
    color: #283959;
}
    
 /* ESTILOS HEADER */
    header{
        list-style: none;
        background-color: #283959;
    }
    
    .menuprincipal{
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
    
    }
    .menuprincipal a{
        color: white;
    }
    #menu1{
        display: inline-block;
        padding: 10px;
        margin: 10px;
    }
    .logo{
        width: 60%;
        padding: 10px;
        display: inline-block;
        margin:10px
    }
    .logo img{
        width: 100%;
        border-radius: 23px;
    }
    .navbar{
        border: none;
         }
    .navbar input{
             display: none;
         }
    .navbar i{
             width: 40px;
             height: 30px;
             display: inline-block;
             padding: 10px;
             color: white;
             margin: 10px;
         }
     ul{
         list-style: none;
         display: flex;
    
     }
     section a{
        text-decoration: none;
        color: #283959;
     }

     ul a{
         text-decoration: none;
         display: inline-block;
         padding: 2px;
         margin: 10px 5px;
         color: white
     }
     .listaprimaria{
        
         display: none;
     }
     .listasecundaria{
         display: flex;
         flex-wrap: wrap;
        overflow: scroll;
         
     }
     .listasecundaria a{
         display: inline-block;
         border-radius: 10px;
         border: solid 1px #8EA3BF ;
     }

 /* ESTILOS HEADER */

 .button{
    text-align: center;
}

   
.visitar{
        background-color: #283959;
        color:  #D7DBDD;
        padding: 3px;
        border-radius: 15px;
        text-align: center;
    }

   .visitar input{
        display: none;
    }

/* ESTILOS FOOTER */
     
    footer{
        background-color: #69688C;
        padding: 10px;
    }
    footer h4{
        text-align: center;
        color: white;
    }
    footer img{
        width: 100%;
        padding: 8px;
    }
    footer section{
        padding: 10px;
        margin: 10px 0;
        text-align: center;
        font-size: 20px;
        color: white;
    }
    footer section i{
        padding: 8px;
        margin-right: 10px;
        height: 20px;
    }
    footer picture{
        width: 80%;
        margin-top: 20px;
    }
    .logofooter img{
        margin-top: 30px;
    }
    footer article{
        font-size: 9px;
        color: #D7DBDD;
        text-align: justify;
        margin: 20px 10px;
    }

    /* ESTILOS FOOTER */
    
    @media (min-width: 560px){
        .bariloche{
            width: 300px;
        }
        .pBariloche{
            font-size: 15px;
        }

        main section ul {
            font-size: 14px;
        }

        .flexCabana{
            width: 400px;
            height: 280px;
        }
    }




    @media (min-width: 768px){

        .bariloche{
            width: 350px;
        }

        .pBariloche{
            font-size: 17px;
        }
        
        .flexTurismo{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        border: none;
        }
    
         .imagenTurismo{
            width: 300px;
            } 

            .flexHospedajeA{
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 5%;
            }

            .flexCabana{
                width: 400px;
                height: 290px;
            }

            main section ul {
                font-size: 14px;
            }

            h3{
                margin: 4%;
                margin-bottom: 8%;
                font-size: 19px;
                text-align: center;
                color: #283959;
                background-color: rgb(221, 221, 221);
                border: 2px solid #283959;
                border-radius: 15px;
            }
            
            h4{
                margin: 2%;
                margin-bottom: 6%;
                font-size: 16px;
                color: #283959;
            }

            .button{
                margin: 10px 0;
                text-align: center;
            }
            
               
            .visitar{
                    background-color: #283959;
                    color:  #D7DBDD;
                    padding: 7px;
                    font-size: 15px;
                    border-radius: 15px;
                    text-align: center;
                    margin-top: 5%;
                }
            
               .visitar input{
                    display: none;
                }
            

        #menu1{
            display: none;
        }
        .logo{
            width:17%
        }
        .logo img{
            height: 12vh;
        }
        .menuprincipal{
            justify-items: center;
            align-items: center;
            justify-content: space-between;
        }
        .menuprincipal form{
            text-align: center;
            width: 30%;
        }
        .navbar{
            padding-left: 5px;
        }
        .navbar input{
            display: inline-block;
            border-radius: 5px;
            width: 80%;
        }
        .listaprimaria{
            display: flex;
            justify-content: right;
            font-size: 14px;
            width: 37%;
        justify-content: space-between;}
        .listaprimaria li{
            display: inline-block;
        }
        .listasecundaria{
        overflow:-moz-hidden-unscrollable;}
        .listasecundaria a{
            padding: 0 8px;}
        .navbar i{
            margin: 0;
            padding: 5px;
        }
        .menufechas{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: auto;
    
        }
        fieldset{
            padding-left: 0;
        }
        .menufechas label{
            width: 20%;
        }
        .menufechas input{
            width: 90%;
        }
        .button{
            margin-right: 10px;
        }
       
        .ciudades{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .excursiones{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .eventos{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
       
       section article{
           width: 45%;
       }
       section img{
           height: 200px;
       }
       footer span{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 40px;
       }
       footer span h4{
           font-size: 20px;
           font-family: 'Bad Script', cursive;
       }
       footer span h5{
           margin-right: 10px;
           font-family: 'Bad Script', cursive;
           font-size: 20px;
       }
       footer span i{
           margin-right: 10px;
       }
       footer section{
           display: flex;
           justify-content: space-around;
       }
       .logofooter{
        width: 40%;   
        margin: 0
       }
       .logofooter img{
           height: 100px;
           margin: 0;
       }
    
        
     }
    
    
     @media (min-width: 1200px){

        .bariloche{
            width: 600px;
        }

        .pBariloche{
            font-size: 18px;
        }

    
    
        .imagenTurismo{
            width: 400px;
            }

            .flexCabana{
                width: 600px;
                height: 400px;
            }

            main section ul {
                font-size: 18px;
            }


            
        .menuprincipal{
            justify-content: space-between;
        }
        .navbar{
            width: 400px;
        }
        .navbar input{
            width: 80%;
        }
        .listaprimaria{
            max-width: 28%;
        }
       .listasecundaria ul {
           width: 60%;
       }
       .listasecundaria ul li{
           margin-right: 10px;
           padding: 5px;
       }
       .listasecundaria a{
           padding: 0 5px ;
       }
       .menufechas{
           margin-left: 25px;
       }
    
       section article{
        width: 23%;
        margin: 15px 10px;}
        
    
        section img{
            height: 250px;
        }
        .button{
            margin-right: 25px;
        }
        footer picture{
            width: 70%;
        }
        footer img{
            height: 20vh;
        }
        .logofooter{
            width: 25%;
        }
    }
     