*{font-family: 'Bad Script', cursive;
    font-family: 'Bellefair', serif;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;}
    

.bariloche{
 width: 200px;
 max-height: 250px;
 border-radius: 10px;
}

.flexAB{
display: flex;
flex-wrap: nowrap;
margin: 0%;
border: 5px solid #8EA3BF ;
border-radius: 20px;
margin-bottom: 5%;
}

.flexA{
display: flex;
flex-wrap: nowrap;
display: flex;
}

.flexB{
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.pBariloche{
    font-size: 11px;
}

.titleSeccion{
    font-size: 30px;   
    padding: 0 5px;
    color: #283959;
}

.seccionTurismo{
    width: 100%;
    display: flex;
    justify-content: center;
}

.flexTurismo{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    width: 50%;
border: 5px solid #8EA3BF ;
border-radius: 10px;
margin-bottom: 2%;
justify-content: center;
}

.imagenTurismo{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

main section ul {
    font-size: 12px;
}

.flexHospedajeA{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-image: url("../image/hospedaje/nieveB.jpg");
}

.flexListaContenedor{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.flexLista{
    display: flex;
    flex-direction: column;
    list-style: circle;
    justify-content: center;
}

.flexCabanaContenedor{
    display: flex;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    width: 100%;
}
.flexCabana{
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
}

h2{
    font-size: 25px;
    padding-left: 10px;
    color: #283959;
    padding-top: 30px;
    margin-bottom: 2%;
    text-align: center;
}

h3{
    margin: 4%;
    margin-bottom: 8%;
    font-size: 20px;
    text-align: center;
    color: #283959;
    background-color: rgb(221, 221, 221);
    border: 2px solid #283959;
    border-radius: 15px;
}

h4{
    margin: 2%;
    margin-bottom: 6%;
    font-size: 16px;
    color: #283959;
}
    


    
    @media (min-width: 560px){
        .bariloche{
            width: 300px;
        }
        .pBariloche{
            font-size: 15px;
        }

        main section ul {
            font-size: 14px;
        }

        .flexCabana{
            width: 400px;
            height: 280px;
        }
    }




    @media (min-width: 768px){

        .bariloche{
            width: 350px;
        }

        .pBariloche{
            font-size: 17px;
        }
        
        .flexTurismo{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        border: none;
        }
    
         .imagenTurismo{
            width: 300px;
            } 

            .flexHospedajeA{
                display: flex;
                flex-wrap: nowrap;
                margin-bottom: 5%;
            }

            .flexCabana{
                width: 400px;
                height: 290px;
            }

            main section ul {
                font-size: 14px;
            }

            h3{
                margin: 4%;
                margin-bottom: 8%;
                font-size: 19px;
                text-align: center;
                color: #283959;
                background-color: rgb(221, 221, 221);
                border: 2px solid #283959;
                border-radius: 15px;
            }
            
            h4{
                margin: 2%;
                margin-bottom: 6%;
                font-size: 16px;
                color: #283959;
            }

            .button{
                margin: 10px 0;
                text-align: center;
            }
            
               
            .visitar{
                    background-color: #283959;
                    color:  #D7DBDD;
                    padding: 7px;
                    font-size: 15px;
                    border-radius: 15px;
                    text-align: center;
                    margin-top: 5%;
                }
            
               .visitar input{
                    display: none;
                }
    }

        

    
    
     @media (min-width: 1200px){

        .bariloche{
            width: 600px;
        }

        .pBariloche{
            font-size: 18px;
        }

    
    
        .imagenTurismo{
            width: 400px;
            }

            .flexCabana{
                width: 600px;
                height: 400px;
            }

            main section ul {
                font-size: 18px;
            }

    }
     