<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs") %> 
<body>
   <%- include ("./partials/header.ejs") %> 
    <main>
        <picture><img class="imagenhome" src="image/patagonia.jpg" alt=""></picture>
       <section class="busquedaviaje"><h3 class="tituloSeccion">Disfrutá tu viaje</h3>
        <form class= "menufechas" action="">
            <fieldset><label class="origen" for="origen">Origen</label>
            <input type="text" placeholder="Ingresa 3 letras" name= "origen" required></fieldset>
        <fieldset><label class="destino" for="destino">Destino</label>
            <input list="destinos" placeholder="Ingresa 3 letras" name="destino" required>
        <datalist id="destinos">
            <option value="San Carlos de Bariloche"></option>
            <option value="Usuahia"></option>
            <option value="El Calafate"></option>
            <option value="Puerto Madrin"></option>
        </datalist>
        </fieldset>
        <fieldset> <label class="ida" for="ida">Ida</label>
            <input type="date" name="ida"></fieldset>
        <fieldset> <label class="vuelta" for="vuelta">Vuelta</label>
            <input type="date" name="vuelta"></fieldset>
            <fieldset class="button"><button class="irviaje"><input type="text" name="Ir">Buscar</button></fieldset>
        </section>

       </form>
       <h3 class="tituloSeccion">Ciudades Imperdibles</h3>
       <section class="ciudades">
    <article class="bariloche"><nav> <a href="/">
    <picture><img class="imgIndex" src="image/bariloche.jpg" alt=""></picture><h4>San Carlos de Bariloche</h4>
<p class="txt">Conocida por su estilo alpino de Suiza y su chocolate. Disfrutá del excursionismo y el esquí en las montañas cercanas. Explorá los alrededores del Distrito de los Lagos</p>
<fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Visitar</button></fieldset>
</a></nav> </article>
<article><a href="">
        <picture><img class="imgIndex" src="image/usuahia.jpg" alt=""></picture><h4>Usuahia</h4>
    <p class="txt">Se ubica en el archipiélago de Tierra del Fuego, apodada el "Fin del Mundo". Esta ciudad con mucho viento, conocida como la "Isla Pingüino" por sus colonias de esta especie</p>
    <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Visitar</button></fieldset></a></article>
    
    <article> <a href=""> <picture><img class="imgIndex" src="image/elcalafate.jpg" alt=""></picture>
        <H4>El Calafate</H4>
        <p class="txt">Ubicada en Santa Cruz. Es conocida principalmente como el acceso al Parque Nacional Los Glaciares, hogar del enorme glaciar Perito Moreno, cuyo dinámico paisaje de hielo es popular para el excursionismo y el turismo.</p>
        <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Visitar</button></fieldset></a></article>
   
        <article> <a href=""> <picture><img class="imgIndex" src="image/puertomadrin.jpg" alt=""></picture><h4>Puerto Madrin</h4>
    <p class="txt">Sus playas de arena y su paseo costero repleto de restaurantes miran hacia la bahía del Golfo Nuevo, en donde se avistan las ballenas francas australes </p> 
    <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Visitar</button></fieldset></a></article>
    </section>
    <h3 class="tituloSeccion">Excursiones</h3>
       <section class="excursiones">
       <article><a href=""><picture> <img class="imgIndex" src="image/excursionglaciar.png" alt=""></picture><h4>Visitá el glaciar Perito Moreno</h4><p class="txt">En esta excursión vistaremos el glaciar más famoso del Mundo. Caminaremos entre la naturaleza de la Patagonia Argentina y sobre el glaciar.</p>
        <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Comprar</button></fieldset></a></article>
       
           <article><a href=""><picture><img class="imgIndex" src="image/tren.jpg" alt=""></picture><h4>Tren del Fin del mundo</h4><p class="txt">Subimos al Tren del fin del Mundo, el ferrocaril más austral, que nos llevará a recorrer museos en un trayecto de otra época, hasta el parque Nacional Tierra del Fuego.
       </p><fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Comprar</button></fieldset></a></article>
       
       <article><a href=""><picture><img class="imgIndex" src="image/teleferico.jpg" alt=""></picture><h4>Teleférico en Cerro Otto</h4>
        <p class="txt">Viajá hasta 1450 m de altura disfrutando de hermosos paisajes y montañas</p><fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Comprar</button></fieldset></a></article>
       
        <article><a href=""><picture><img class="imgIndex" src="image/buceolobos.jpg" alt=""></picture><h4>Buceo en Puerto Madrin</h4>
        <p class="txt">La zona encierra opciones realmente extraordinarias para bucear. Una de ellas: bucear con lobos marinos, un clásico de la región</p><fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Comprar</button></fieldset></a></article></section>
        
        <h3 class="tituloSeccion">Próximos Eventos</h3>
        <section class="eventos">
            <article><a href=""><picture><img class="imgIndex" src="image/eventos/festivalcerveza.jpg" alt=""></picture><h4>Festival de la Cerveza Artesanal</h4>
                <p class="txt">Entre amigos y picoteos, la fiesta promete lo mejor de las cervecerías de la región, platos elaborados con cerveza, food trucks y eventos de música en vivo. 
            </p><fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Reservá</button></fieldset></a></article>
            
            <article><a href=""><picture><img class="imgIndex" src="image/eventos/fiestachocolate.jpg" alt=""></picture><h4>Fiesta del chocolate</h4>
                <p class="txt">En Bariloche te esperan la excursión y la universidad más dulces, donde todo se hace con chocolate.
            </p><fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Reservá</button></fieldset></a></article>
            <article><a href=""><picture><img class="imgIndex" src="image/eventos/FiestaCordero.jpg" alt=""></picture><h4>Fiesta Nacional del Cordero</h4>
             <p class="txt">La Fiesta Nacional del Cordero es una celebración para degustar los platos patagónicos y para deleitarse con los espectáculos camperos.</p>
             <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Reservá</button></fieldset></a></article>
            <article><a href=""><picture><img class="imgIndex" src="image/eventos/Jineteada.jpg" alt=""></picture><h4>Jineteada y Folclore</h4>
             <p class="txt">Festival internacional, es una de las fiestas costumbristas más grandes de la Patagonia y patrimonio cultural de la región de Aysén</p>
             <fieldset class="buttonvisitar"><button class="visitar"><input type="text" name="visitar">Reservá</button></fieldset></a></article>
         </main>
    </main>
    <%- include ("./partials/footer.ejs") %> 
    
</body>
</html>