<footer>
    <link rel="stylesheet" href="../css/footer.css">
    <span><h4>PAGÁ COMO QUIERAS</h4> <picture><img src="../image/bannertarjetas.png" alt=""></picture></span>
    <section>
        <span><h5>Seguinos en </h5>
            <nav><i class="fab fa-facebook"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i></nav></span>
     <picture class="logofooter"><img src="../image/logo1.jpg" alt=""></picture> </section>
    <article>
     <p>2020-2021. PatagoniaTravels S.R.L. Todos los derechos reservados. - Evt: PatagoniaTravels.com - Legajo: 8362 - Disp: 1350/93 - Cuit Nº 30-65951462-8. 4 lugares disponibles por producto. Vigencia desde el 14/12/2021 al 16/12/2021 LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales</p></article>
 
 </footer>