<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head.ejs") %> 
<body> 
    <%- include ("../partials/header.ejs") %> 

    <main>
        <section class="principal">
            <section class="flex-container">
                <form class="form-login" action="/" method="post"> 

                    <fieldset class="form-fieldset">
                        <legend class="dn">Nombre de usuario</legend>
                        <label class="form-fieldset-input" for="usuario">Nombre de usuario</label>            
                        <input class="form-fieldset-input" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required="">
                    </fieldset>

                    <fieldset class="form-fieldset">
                        <legend class="dn">Contraseña</legend>
                        <label class="form-fieldset-input" for="contrasena">Contraseña</label>
                        <input class="form-fieldset-input" type="password" name="contrasena" id="contrasena"  placeholder="**********" required>
                        <a class="rcontraseña" href="rccontrasena.html">Recuperar tu contraseña</a>
                    </fieldset>


                    <div>
                        <label for="recordarUsuario">Recordar Usuario
                            <input class="" type="Checkbox" name="recordarUsuario" id="recordarUsuario" required>
                            </label>                 
                    </div>
                    
                    <div>
                        <label for="recordarContraseña">Recordar Contraseña
                            <input class="" type="Checkbox" name="recordarContraseña" id="recordarContraseña" required>
                            </label>                 
                    </div>   

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Botones de enviar</legend>
                        <button class="buttons" type="submit">Ingresar</button>
                    </fieldset> 

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Registrarse</legend>
                        <button class="buttons" type="submit">Registrarse</button>
                    </fieldset> 

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Iniciar con google</legend>
                        <button class="buttons" type="submit"><i style="margin-right: 5px;" class="fa-brands fa-google"></i>Iniciar con google</button>
                    </fieldset> 

                    <fieldset class="form-fieldset-buttons">
                        <legend class="dn">Iniciar con facebook</legend>
                        <button class="buttons" type="submit"><i style="margin-right: 5px;" class="fab fa-facebook"></i>Iniciar con facebook</button>
                    </fieldset> 
                     
                </form>
            </section>      
        </section>

        <%- include ("../partials/footer.ejs") %> 
</body>
